/* CSS Variables */
:root {
    --font-size-base: 62.5%; /* 10px = 62.5% of 16px */
    --font-family-base: "Inter", sans-serif;
    --font-size-body: 1.6rem; /* 16px */
    --font-weight-normal: 400;
    --font-weight-semibold: 500;
    --font-weight-bold: 600;
    --color-background: #2c3e50;
    --color-header-footer: #263646;
    --color-text-primary: #b3c4d6;
    --color-text-secondary: #ffffff;
    --color-border: #263646;
    --color-tab-background: #263646;
    --color-tab-hover: #dee2e6;
    --color-tab-active-background: #b3c4d6;
    --color-tab-active-text: #2c3e50;
    --padding-base: 2rem;
    --gap-base: 2rem;
    --gap-large: 6rem;
    --header-footer-height: 5rem; /* 50px */
}

/* General Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: var(--font-size-base);
}

body {
    font-family: var(--font-family-base);
    font-optical-sizing: auto;
    font-style: normal;
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-normal);
    display: flex;
    flex-direction: column;
    height: 100vh; /* Set body height to 100vh to cover the full viewport height */
    background-color: var(--color-background);
    overflow: hidden; /* Prevent scrolling */
}

/* Page Layout */
.page {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%; /* Ensure the page takes the full height */
}

/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--color-header-footer);
    height: var(--header-footer-height); /* Set fixed height */
    text-align: center;
}

/* Main Content */
.page__main {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: var(--padding-base);
    height: calc(100vh - 2 * var(--header-footer-height)); /* Adjust height based on header and footer */
    overflow-y: auto; /* Allow scrolling within the main content if necessary */
}

/* Layout Sections */
.main__top,
.main__info,
.main__bottom {
    flex: 1;
}

.main__top {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    gap: var(--gap-large);
}

.main__tagline {
    font-size: 2.4rem;
    font-weight: var(--font-weight-normal);
    margin-bottom: 1rem;
    color: var(--color-text-primary);
}

.main__tabs {
    display: flex;
    justify-content: center;
    gap: var(--gap-base);
}

.main__tab {
    font-weight: var(--font-weight-semibold);
    color: var(--color-text-primary);
    background: var(--color-tab-background);
    border: 1px solid var(--color-border);
    border-radius: 0.375rem;
    padding: 0.75rem 1.25rem;
    font-size: 1.6rem;
    cursor: pointer;
    margin: 0 0.5rem;
    transition: background-color 0.3s, color 0.3s;
}

.main__tab:hover {
    color: var(--color-tab-background);
    background-color: var(--color-tab-hover);
}

.main__tab--active {
    background-color: var(--color-tab-active-background);
    color: var(--color-tab-active-text);
    border-color: var(--color-tab-active-background);
}

/* Main Info: Centered in Middle */
.main__info {
    padding-top: 4.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main__code {
    font-size: 18rem;
    font-weight: var(--font-weight-bold);
    color: var(--color-text-secondary);
    line-height: 0.98;
    padding: 0;
    margin: 0;
}

.main__company {
    font-size: 7.6rem;
    font-weight: var(--font-weight-semibold);
    color: var(--color-text-primary);
}

.main__disclaimer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    font-size: 1.4rem;
    color: var(--color-text-primary);
    padding-top: 3.4rem;
}

/* Footer */
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    width: 100%;
    height: var(--header-footer-height); /* Set fixed height */
    background-color: var(--color-header-footer);
    text-align: center;
    flex-shrink: 0;
    position: relative;
    bottom: 0;
}

/* Footer Link */
.footer__link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    color: var(--color-text-primary);
    text-decoration: none;
}

.footer__link:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
    .main__tagline {
        font-size: 1.5rem;
    }

    .main__info {
        padding-top: 2.4rem;
    }

    .main__code {
        font-size: 10rem;
    }

    .main__company {
        font-size: 4.25rem;
    }

    .main__tab {
        font-size: 1.4rem;
        padding: 0.5rem 1rem;
    }

    .page__main {
        padding: 1rem; /* Reduce padding on smaller screens */
        height: calc(100vh - 2 * var(--header-footer-height)); /* Adjust main content height */
    }
}
